<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script data-main="../static/js/main" src="../static/thirdParty/require.js"></script>
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>

<body onload="" class="bg-light container">
    <!-- Title start-->
    <div class="row d-flex justify-content-center">
        <div class="center-block border-bottom">
            <h3 class="text-center">
                Ultra Saver Messages
            </h3>
        </div>
    </div>
    <!-- Title end-->
    <br>
    <!-- Container for input data -->
    <div class="row d-flex justify-content-center">
        <div class="center-block w-75">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Text<br>or<br>Code</span>
                </div>
                <textarea 
                    class="form-control" 
                    data-bind="textInput: data" 
                    aria-label="With textarea">
                </textarea>
                <input class="border" data-bind="value: lifeTime" type="date" />
            </div>
            <div class="progress">
                    <div class="progress-bar" role="progressbar" 
                    data-bind="class: dataColorLimit, style: { width: dataLength }, text: data().length">
                </div>
            </div>
            <br>
            <!-- Alert box -->
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="alert",
                        data-bind="class: setAlertStyle">
                        <p data-bind="text: alertMessage"></p>
                    </div>
                </div>
                <!--Action button-->
                <div class="col-2">
                    <button type="button"
                        class="float-right"
                        data-bind="click: send, class: setButtonStyle"> Send
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
